In [ ]:
# -------------------------------------------------------Create Data

pd.DataFrame(np.random.rand(20,5))	5 columns and 20 rows of random floats
pd.Series(my_list)	Create a series from an iterable my_list
df.index = pd.date_range('1900/1/30', periods=df.shape[0])

# ------------------------------------------------------- Selection

df[col]                 #	Returns column with label col as Series
df[[col1, col2]]        #	Returns columns as a new DataFrame
s.iloc[0]               #	Selection by position
s.loc['index_one']      #	Selection by index
df.iloc[0,:]            #	First row
df.iloc[0,0]            #	First element of first column


#-------------------------------------------------------- Viewing/Inspecting Data

df.head(n)                 #	First n rows of the DataFrame
df.tail(n)                 #	Last n rows of the DataFrame
df.shape                   #	Number of rows and columns
df.info()                  #	Index, Datatype and Memory information
df.describe()              #	Summary statistics for numerical columns
s.value_counts(dropna=False)    #	View unique values and counts
df.apply(pd.Series.value_counts)#	Unique values and counts for all columns

# ------------------------------------------------------ Data Cleaning

df.columns = ['a','b','c']       #	Rename columns
pd.isnull()                      #	Checks for null Values, Returns Boolean Arrray
pd.notnull()                     #	Opposite of pd.isnull()
df.dropna()                      #	Drop all rows that contain null values
df.dropna(axis=1)                #	Drop all columns that contain null values
df.dropna(axis=1,thresh=n)       #	Drop all rows have have less than n non null values
df.fillna(x)                     #	Replace all null values with x
s.fillna(s.mean())               #	Replace all null values with the mean
s.astype(float)                  #	Convert the datatype of the series to float
s.replace(1,'one')               #	Replace all values equal to 1 with 'one'
s.replace([2,3],['two', 'three'])            #	Replace all 2 with 'two' and 3 with 'three'
df.rename(columns=lambda x: x + 1)           #	Mass renaming of columns
df.rename(columns={'old_name': 'new_ name'}) #	Selective renaming
df.set_index('column_one')                   #	Change the index
df.rename(index=lambda x: x + 1)             #	Mass renaming of index

# ---------------------------------------------------- Filter, Sort, Groupby

df[df[col] > 0.6]                                        #	Rows where the column col is greater than 0.6
df[(df[col] > 0.6) & (df[col] < 0.8)]                    #	Rows where 0.8 > col > 0.6
df.sort_values(col1)                                     #	Sort values by col1 in ascending order
df.sort_values(col2,ascending=False)                     #	Sort values by col2 in descending order.5
df.sort_values([col1,col2],ascending=[True,False])       #	Sort values by col1 in ascending order then col2 in descending order
df.groupby(col)                                          #	Returns a groupby object for values from one column
df.groupby([col1,col2])                                  #	Returns groupby object for values from multiple columns
df.groupby(col1)[col2]                                   #	Returns the mean of the values in col2, grouped by the values in col1
df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)#	Create a pivot table that groups by col1 and calculates the mean of col2 and col3
df.groupby(col1).agg(np.mean)                            #	Find the average across all columns for every unique col1 group
df.apply(np.mean)                                        #	Apply the function np.mean() across each column
nf.apply(np.max,axis=1)                                  #	Apply the function np.max() across each row

# ------------------------------------------------------ Join, Combine

df1.append(df2)                          #	Add the rows in df1 to the end of df2 (columns should be identical)
pd.concat([df1, df2],axis=1)             #	Add the columns in df1 to the end of df2 (rows should be identical)
df1.join(df2,on=col1, how='inner')       #	SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. The 'how' can be 'left', 'right', 'outer' or 'inner'

#------------------------------------------------------- Statistics

df.describe()            #	Summary statistics for numerical columns
df.mean()                #	Returns the mean of all columns
df.corr()                #	Returns the correlation between columns in a DataFrame
df.count()               #	Returns the number of non-null values in each DataFrame column
df.max()                 #	Returns the highest value in each column
df.min()                 #	Returns the lowest value in each column
df.median()              #	Returns the median of each column
df.std()                 #	Returns the standard deviation of each column

#------------------------------------------------------- Importing Data

pd.read_csv(filename)                   #	From a CSV file
pd.read_table(filename)                 #	From a delimited text file (like TSV)
pd.read_excel(filename)                 #	From an Excel file
pd.read_sql(query, connection_object)   #	Read from a SQL table/database
pd.read_json(json_string)               #	Read from a JSON formatted string, URL or file.
pd.read_html(url)                       #	Parses an html URL, string or file and extracts tables to a list of dataframes
pd.read_clipboard()                     #	Takes the contents of your clipboard and passes it to read_table()
pd.DataFrame(dict)                      #	From a dict, keys for columns names, values for data as lists


#------------------------------------------------------- Exporting Data

df.to_csv(filename)                          #	Write to a CSV file
df.to_excel(filename)                        #	Write to an Excel file
df.to_sql(table_name, connection_object)     #	Write to a SQL table
df.to_json(filename)                         #	Write to a file in JSON format

In [ ]:
import pandas as pd

# create DF from a csv

In [ ]:
data = {'col1 first': [1,2,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
df

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
series = pd.Series([2,3,5,7,9])
series

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

#  summary statistics

In [ ]:
df.col3.value_counts()
df.col3.unique()
df.col3.mean()
df['col3'].dtypes
df['col3'].astype(str)  # Change the type of values of a column

# Selection

In [ ]:
print(df['col1 first'])    # If there is a space, ' ' in the name
print(df.col2)

In [ ]:
df[['col2', 'col3']]

# unique values of a column

In [ ]:
df.col3.unique()

# Filtering Rows

In [ ]:
# Grab rows that have a specific value for col3
df[df['col3']==8]

In [ ]:
# Tow conditions
df[(df['col3']==8) & (df['col2']!=5)]

In [ ]:
# Select rows1,2,4,6
indices = [1,2,4,6]
df.loc[indices]

In [ ]:
# Select rows 4,5,0 and Col 2,3
df
indices = [4,5,0]
cols = ['col3','col2']
df[cols].loc[indices]

# Indexing with iloc

In [ ]:
# Point to a row
df.iloc[-1]

In [ ]:
# Poin to a cell of dataframe
df.iloc[1,2]

# Indexing with loc

In [ ]:
state = df.copy()
state.set_index('col1 first', inplace=True)
state

In [ ]:
state.loc[32]

# Dropping Rows

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
# Dropp All the rows that have null values
df.dropna(inplace=True)

# Dropping Columns

In [ ]:
df.drop('col1 first', axis=1)

# Creating calculated column

In [ ]:
df['col4'] = df['col2']+df['col3']

df

In [ ]:
# I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset
# bargain_idx = (reviews.points / reviews.price).idxmax()
# bargain_wine =  reviews.loc[bargain_idx, 'title']

# Updating all column

In [ ]:
df['col4'] = [(str(data) + 'total') for data in df['col4']]
df

# Map

In [ ]:
df = df.col4.map(lambda p: p + 'Yes')
df

In [ ]:
def function(row):
    row.col2 = row.col2 - 2
    return row

df.apply(function, axis='columns')

# Updating a single value

In [ ]:
df.iloc[0,-1] = 'TOTAL'
df

# Condition based updating using Apply

In [ ]:
df['col4'] = df['col4'].apply(lambda x: 1 if x=='14total' else 0) 
df

# Output to CSV

In [ ]:
df.to_csv('output.csv')
df.to_json()
df.to_html()

# Delete a DF

In [ ]:
del df

# Group by

In [ ]:
data = {'col1 first': [1,3,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
print(df.groupby('col3').col3.count())
print(df.groupby('col3')['col1 first'].min())
df

In [ ]:
# Gives us the first amount of col1 by each group - Avalin tekrare har group
df.groupby('col3').apply(lambda df2: df2['col1 first'].iloc[0])

In [ ]:
df.groupby(['col3', 'col1 first']).apply(lambda x:  x.loc[x.col2.idxmax()])

# agg()
    lets you run a bunch of different functions on your DataFrame simultaneously.

In [ ]:
df.groupby(['col3']).col2.agg([len, min, max])

# Sorting

In [ ]:
df.sort_values(by='col2')
# df.sort_values(by='col2',ascending=True)

In [ ]:
#  you can sort by more than one column at a time
df.sort_values(by=['col1 first', 'col2'], ascending=False)

# Missing Data

In [ ]:
data = {'col1 first': [1,3,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
df[pd.isnull(df.col2)]
df.col2.fillna("Unknown", inplace=True)
df.col3.replace(8, "/oo", inplace=True)
df

# Renaming

In [ ]:
df.rename(columns={'col1 first': 'col1'})  # Rename a column
df.rename(index={0: 'firstEntry', 1: 'secondEntry'})
df.rename_axis('wines', axis='rows') # Rename the index name

# Combining

In [ ]:
first = pd.DataFrame({"col11":[1,2,3], 'col12':[4,5,6]})
second = pd.DataFrame({"col11":[1,2,3], 'col22':[4,5,6]})

pd.concat([first, second])

# join() 
lets you combine different DataFrame objects which have an index in common

In [ ]:
df.to_string()  #return the entire DataFrame
df.drop_duplicates()    # remove duplicates from a Pandas DataFrame?
df.duplicated()   #  discover if a row is a duplicate?