In [ ]:
import pandas as pd
pd.

# create DF from a csv

In [ ]:
data = {'col1 first': [1,2,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
df

In [ ]:
df.dtypes

In [ ]:
df.info()

# summary statistics

In [ ]:
df.describe()

# Filtering columns

In [ ]:
print(df['col1 first'])    # If there is a space, ' ' in the name
print(df.col2)

In [ ]:
df[['col2', 'col3']]

# unique values of a column

In [ ]:
df.col3.unique()

# Filtering Rows

In [ ]:
# Grab rows that have a specific value for col3
df[df['col3']==8]

In [ ]:
# Tow conditions
df[(df['col3']==8) & (df['col2']!=5)]

# Indexing with iloc

In [ ]:
# Point to a row
df.iloc[-1]

In [ ]:
# Poin to a cell of dataframe
df.iloc[1,2]

# Indexing with loc

In [ ]:
state = df.copy()
state.set_index('col1 first', inplace=True)
state

In [ ]:
state.loc[32]

# Dropping Rows

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
# Dropp All the rows that have null values
df.dropna(inplace=True)

# Dropping Columns

In [ ]:
df.drop('col1 first', axis=1)

# Creating calculated column

In [ ]:
df['col4'] = df['col2']+df['col3']
df

# Updating all column

In [ ]:
df['col4'] = [(str(data) + 'total') for data in df['col4']]
df

# Updating a single value

In [ ]:
df.iloc[0,-1] = 'TOTAL'
df

# Condition based updating using Apply

In [ ]:
df['col4'] = df['col4'].apply(lambda x: 1 if x=='14total' else 0) 
df

# Output to CSV

In [ ]:
df.to_csv('output.csv')
df.to_json()
df.to_html()

# Delete a DF

In [ ]:
del df