In [ ]:
import pandas as pd

# create DF from a csv

In [ ]:
data = {'col1 first': [1,2,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
df

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
series = pd.Series([2,3,5,7,9])
series

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

# summary statistics

In [ ]:
df.describe()

In [ ]:
df.col3.value_counts()
df.col3.unique()
df.col3.mean()
df['col3'].dtypes
df['col3'].astype(str)  # Change the type of values of a column

# Filtering columns

In [ ]:
print(df['col1 first'])    # If there is a space, ' ' in the name
print(df.col2)

In [ ]:
df[['col2', 'col3']]

# unique values of a column

In [ ]:
df.col3.unique()

# Filtering Rows

In [ ]:
# Grab rows that have a specific value for col3
df[df['col3']==8]

In [ ]:
# Tow conditions
df[(df['col3']==8) & (df['col2']!=5)]

In [ ]:
# Select rows1,2,4,6
indices = [1,2,4,6]
df.loc[indices]

In [ ]:
# Select rows 4,5,0 and Col 2,3
indices = [4,5,0]
cols = [2,3]
df[cols].loc[indices]

# Indexing with iloc

In [ ]:
# Point to a row
df.iloc[-1]

In [ ]:
# Poin to a cell of dataframe
df.iloc[1,2]

# Indexing with loc

In [ ]:
state = df.copy()
state.set_index('col1 first', inplace=True)
state

In [ ]:
state.loc[32]

# Dropping Rows

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
# Dropp All the rows that have null values
df.dropna(inplace=True)

# Dropping Columns

In [ ]:
df.drop('col1 first', axis=1)

# Creating calculated column

In [ ]:
df['col4'] = df['col2']+df['col3']

df

In [ ]:
# I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset
# bargain_idx = (reviews.points / reviews.price).idxmax()
# bargain_wine =  reviews.loc[bargain_idx, 'title']

# Updating all column

In [ ]:
df['col4'] = [(str(data) + 'total') for data in df['col4']]
df

# Map

In [ ]:
df = df.col4.map(lambda p: p + 'Yes')
df

In [ ]:
def function(row):
    row.col2 = row.col2 - 2
    return row

df.apply(function, axis='columns')

# Updating a single value

In [ ]:
df.iloc[0,-1] = 'TOTAL'
df

# Condition based updating using Apply

In [ ]:
df['col4'] = df['col4'].apply(lambda x: 1 if x=='14total' else 0) 
df

# Output to CSV

In [ ]:
df.to_csv('output.csv')
df.to_json()
df.to_html()

# Delete a DF

In [ ]:
del df

# Group by

In [ ]:
data = {'col1 first': [1,3,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
print(df.groupby('col3').col3.count())
print(df.groupby('col3')['col1 first'].min())
df

In [ ]:
# Gives us the first amount of col1 by each group - Avalin tekrare har group
df.groupby('col3').apply(lambda df2: df2['col1 first'].iloc[0])

In [ ]:
df.groupby(['col3', 'col1 first']).apply(lambda x:  x.loc[x.col2.idxmax()])

# agg()
    lets you run a bunch of different functions on your DataFrame simultaneously.

In [ ]:
df.groupby(['col3']).col2.agg([len, min, max])

# Sorting

In [ ]:
df.sort_values(by='col2')
# df.sort_values(by='col2',ascending=True)

In [ ]:
#  you can sort by more than one column at a time
df.sort_values(by=['col1 first', 'col2'], ascending=False)

# Missing Data

In [ ]:
data = {'col1 first': [1,3,3,32,12,6 ,45], 'col2': [4,5,6,43, 7,78,9], 'col3': [7,8,8,8,32,87,8]}
df = pd.DataFrame.from_dict(data) 
df[pd.isnull(df.col2)]
df.col2.fillna("Unknown", inplace=True)
df.col3.replace(8, "/oo", inplace=True)
df

# Renaming

In [ ]:
df.rename(columns={'col1 first': 'col1'})  # Rename a column
df.rename(index={0: 'firstEntry', 1: 'secondEntry'})
df.rename_axis('wines', axis='rows') # Rename the index name

# Combining

In [ ]:
first = pd.DataFrame({"col11":[1,2,3], 'col12':[4,5,6]})
second = pd.DataFrame({"col11":[1,2,3], 'col22':[4,5,6]})

pd.concat([first, second])

# join() 
lets you combine different DataFrame objects which have an index in common